<% content_for :path do%>
    <section class="content-header">
      <h1>
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i><%= link_to 'Home',root_path %></li>
        <li class="active">
            <%= link_to companies_path,{:controller => 'Company',:action => 'index'} do %>
                Empresas
            <% end %>
        </li>
      </ol>
    </section>
<% end %>
<p id="notice"><%= notice %></p>

<div class="box box-solid">
    <div class="box-header with-border">
        <%= image_tag (@company.image.thumb.url) %>
        <h3 class="box-title"><%= @company.name %></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>Descripcion</dt>
            <dd><%= @company.description %></dd>
            <dd>
                <%= link_to 'Modificar', edit_company_path(@company) %>
            </dd>
        </dl>
    </div>
    <!-- /.box-body -->
</div>
